body {
  background-image: url("/assets/background_sd.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  color: #f0f0f0;
  font-family: 'Helvetica Neue', sans-serif;
}
