<div class="home-container">
  <h1>Bienvenue sur <span>SDPREPARATION</span></h1>
  <p>Spécialiste 2T : pièces, faisceaux, électronique, performance scooter.</p>

  <div class="home-buttons">
    <%= link_to "Voir nos produits", products_path, class: "btn btn-primary" %>
    <%= link_to "🛒 Voir le panier", cart_path(1), class: "btn btn-cart" %>
  </div>
</div>
